### TACOS AND BURRITOS - EXERCISE

**System:**
    
    CPU: i7-7700HQ 2.80GHz
    Cores: 8
    RAM: 16GB
    OS: Linux Mint 19
    
**Software**
    
    Python: 3.7.9
    Apache Spark: 2.4.0

**Dataset**

    Restaurants That Sell Tacos and Burritos (Kaggel)
    https://developer.datafiniti.co/docs/business-data-schema (Support information)

**Tasks:**

    1. Explore and clean the column 'cuisines'.
    2. Create a ranking of most popular cuisines. (Hint: MapReduce - Flatmap)

#### SOLUTION (PANDAS)

**Load packages and data**

In [266]:
import pandas as pd

df = pd.read_csv("/home/agomez/MEGA/Cursos/Linkedin-Spark/tacos_and_burritos.csv")

**Dataframe summary**

In [179]:
len(df)

77260

In [180]:
df.describe() # Numerical columns

,latitude,longitude,menus.amountMax,menus.amountMin,priceRangeMin,priceRangeMax,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,...,Unnamed: 226,Unnamed: 227,Unnamed: 228,Unnamed: 229,Unnamed: 230,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235
count,55636.000000,55636.000000,40260.000000,40260.000000,48159.000000,48159.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,36.694846,-98.713309,8.754767,8.611666,13.734837,33.722627,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.835124,18.245857,18.408596,15.708317,14.704344,10.395812,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-31.986438,-159.492690,0.000000,0.000000,0.000000,5.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,33.668355,-117.647150,5.000000,5.000000,0.000000,25.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,36.047195,-96.682320,7.950000,7.950000,25.000000,40.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,40.588380,-82.679930,10.500000,10.390000,25.000000,40.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,61.219460,115.903696,1990.000000,1290.000000,378.000000,755.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df.describe(include='O') # Categorical columns

,id,address,categories,city,country,cuisines,dateAdded,dateUpdated,keys,menuPageURL,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,province,websites
count,77260,77260,77260,77260,77260,38384,77260,77260,77260,10054,3729,40511,77260,29323,77260,77257,76837,48159,77257,55989
unique,19439,18618,8488,3601,1,1588,17965,17675,19438,2600,962,2,18453,15730,15737,10526,7463,2,1097,9238
top,AVwch4pVByjofQCxfPyl,3000 N Dinuba Blvd,Mexican Restaurant,San Diego,US,Mexican,2015-10-23T02:21:55Z,2015-11-02T15:47:29Z,us/or/portland/10090sewashingtonst/-1322134216,http://www.yellowpages.com/long-beach-ca/mip/e...,Tacos,USD,2016-04-24T00:00:00Z,"Crunchy corn tortilla, spicy beef, american ch...",Breakfast Burrito,Chili's Grill & Bar,92110,USD,CA,http://chilis.com
freq,68,69,15094,1924,77260,6280,79,68,68,53,291,40495,821,1087,3188,8296,240,48158,23664,2923

The dataframe contains a total of 236 columns. There are 216 numeric columns and 20 categorical columns. The total number of rows is 77.260. The first 26 columns are named while the rest are called 'Unnamed: NUM'.

In [267]:
df = df.iloc[:,0:26] # Select range of columns

**TASK 1**

In [182]:
print("Before clean, length dataframe:",len(df))

Before clean, length dataframe: 77260

In [268]:
# Clean NAs or NaN from the column cuisine

df = df.dropna(subset = ["cuisines"])

The data is not duplicated so we do not need to clean it after removing the NAs.

In [184]:
print("After clean, length dataframe:",len(df))

After clean, length dataframe: 38384

In [185]:
df["cuisines"].head(20)

0      Restaurant Delivery Service
1      Restaurant Delivery Service
4                          Mexican
5                          Mexican
6                          Mexican
7                          Mexican
8                          Mexican
9                          Mexican
10                         Mexican
11                         Mexican
12                         Mexican
13                         Mexican
14                         Mexican
15                    Coffee Shops
16                    Coffee Shops
17                    Coffee Shops
18         Mexican, Latin American
19         Mexican, Latin American
21    American,Seafood Restaurants
22    American,Seafood Restaurants
Name: cuisines, dtype: object

There are no NaN values but we still have an issue with the data, some rowd contains values divided by comma. Example, 'Mexican, Latin American'. We need to remove that issues.

In [300]:
# Match name and cuisine after split by comma cuisine and finally select column 'index'

df2 = pd.concat([pd.Series(row["name"], row["cuisines"].split(',')) for _, row in df.iterrows()]).reset_index()
df2.rename(columns={'index':'cuisines',0:'name'}, inplace=True)

In [272]:
# Check result

# df2["cuisines"].unique()

We have corrected the comma separated rows but we can see that there are slash (between spaces) separated rows. For example, "Bar / Lounge / Bottle Service". We should not worry about it since is the same definition. However, we can divide them using the following code:

In [126]:
# Match name and cuisine after split by slash between spaces ( / ) cuisine 
# and finally select column 'index'

# df2 = pd.concat([pd.Series(row["name"], row["cuisines"].split(' / ')) for _, row in temp.iterrows()]).reset_index()
# df2.rename(columns={'index':'cuisines',0:'name'}, inplace=True)

In [273]:
# Check result

# df2["cuisines"].unique()

Finally, the last issue we have is that there are cuisines that for us are equal but for the count seem different. For example, ' Mexican' and 'Mexican' (space before word). Also, 'Mexican' and 'Mexican Restaurants' could be an issue because we know both are Mexican cuisines but they are defined different. We will only correct the first issues to make it simple.

Also, before selecting the column cuisine we need to get a unique hit per food place (name) so we avoid repeated entries.

In [302]:
#Remove duplicates
df2 = df2.drop_duplicates()

In [307]:
# Remove spaces from values
df2 = df2["cuisines"].apply(lambda x: x.strip(" "))

In [308]:
# Check that it worked
# for i in df2["cuisines"].apply(lambda x: x.strip(" ")).unique():
#    if 'Mexican' in i:
#        print(i)

In [309]:
df2

0        Restaurant Delivery Service
2                            Mexican
13                      Coffee Shops
16                           Mexican
17                    Latin American
                    ...
55730                        Mexican
55737                        Mexican
55738                        Spanish
55743                            Pub
55754                        Mexican
Name: cuisines, Length: 9872, dtype: object

Our data is clean now and we can go to the second task. We have a total of 9.872 entries (it should be less if we account for equal types with different labels).

**TASK 2**

Using the support information, for the second task, we are interested in the columns:

    'name'
    'cuisines'

In [311]:
# Count the number of times a  cuisine appears.

result = df2.value_counts()

In [312]:
result[0:10]

American                      1130
Mexican                        931
Mexican Restaurants            438
Contemporary American          426
Take Out Restaurants           409
Seafood                        367
American Restaurants           321
Restaurants                    308
Pizza                          271
Latin American Restaurants     241
Name: cuisines, dtype: int64

The top 10 ranking of best cuisines in the database shows that the most populat cuisines is _American_ with 1130 food places. It is followed by _Mexican_ and _Mexican Restaurants_.

However, if we sum the 2nd and 3rd option (which are equal in a sense) and the 1st and 8th option, we end up with:

    American 1130 + 321 = 1451
    Mexican  931  + 438 = 1369
    
The first place is still for _American_ followed by _Mexican_.

##### SOLUTION (PYSPARK)

In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.types import StringType
from pyspark import SQLContext
from pyspark.sql.functions import col

conf = SparkConf().setMaster("local").setAppName("Local-Spark")
sc = SparkContext(conf = conf)
sqlContext = SQLContext(sc)

In [101]:
# Read data

dfspark = sqlContext.read.format("csv").option("header","true").option("inferSchema","true").load("/home/agomez/MEGA/Cursos/Linkedin-Spark/tacos_and_burritos.csv")

In [102]:
# Select columns of interest (name & cousines)

dfspark = dfspark.select("name","cuisines")

In [103]:
# Show data

dfspark.take(5)

[Row(name="Gambino's Pizza", cuisines='Restaurant Delivery Service'),
 Row(name="Gambino's Pizza", cuisines='Restaurant Delivery Service'),
 Row(name='Diablo Grande Golf & Country Club', cuisines=None),
 Row(name="Mcdonald's", cuisines=None),
 Row(name='Baja Fresh Mexican Grill', cuisines='Mexican')]

In [104]:
# Clean NaN

dfspark = dfspark.na.drop(subset = ["name","cuisines"])

In [105]:
# Remove duplicates, after ordering them by name, for same restaurant/food place

dfspark = dfspark.orderBy("name").dropDuplicates(subset = ["name"])

In [106]:
# Show data

dfspark.take(5)

[Row(name='#9 Steakhouse', cuisines='Steak Houses'),
 Row(name='$5 Pizza', cuisines='Pizza'),
 Row(name="'Tis Corner Cafe", cuisines='Bagels'),
 Row(name='024 Grille', cuisines='Contemporary American, American, Wine Bar'),
 Row(name='100% De Agave', cuisines='Contemporary Mexican, Bar / Lounge / Bottle Service,Mexican')]

After cleaning, we have the name one time and the cuisine type of the food place. Now, we can divide the data given the delimiter. In this case, we can stop using the column 'name'.

In [189]:
# Parallelize 

pl_df = sc.parallelize(dfspark.select("cuisines").rdd.collect())

In [190]:
def split_delimiters(row):
    row = row[0]
    row = row.replace(" ","")
    row = row.split(",")
    return row

In [191]:
results = pl_df.flatMap(split_delimiters)

In [192]:
results.collect()[0:10]

['SteakHouses',
 'Pizza',
 'Bagels',
 'ContemporaryAmerican',
 'American',
 'WineBar',
 'ContemporaryMexican',
 'Bar/Lounge/BottleService',
 'Mexican',
 'Casinos']

In [193]:
# Add a 1 at the right of each value

results = results.map(lambda cousin: (cuisin,1))

In [194]:
# Some all the 1's in the right of the values with same key

results = results.reduceByKey(lambda cuisin,num: cuisin+num)

In [196]:
results.sortBy(lambda tupple: tupple[1], ascending=False).collect()

[('American', 1071),
 ('Mexican', 819),
 ('ContemporaryAmerican', 422),
 ('MexicanRestaurants', 388),
 ('Seafood', 360),
 ('TakeOutRestaurants', 351),
 ('AmericanRestaurants', 292),
 ('Pizza', 251),
 ('Restaurants', 245),
 ('LatinAmericanRestaurants', 216),
 ('CoffeeShops', 173),
 ('Bars', 151),
 ('Italian', 151),
 ('ComfortFood', 139),
 ('TraditionalAmerican', 135),
 ('Californian', 107),
 ('Steakhouse', 106),
 ('Steak', 102),
 ('Caterers', 96),
 ('International', 82),
 ('Bar/Lounge/BottleService', 81),
 ('GastroPub', 80),
 ('Japanese', 74),
 ('LatinAmerican', 73),
 ('Mediterranean', 73),
 ('Burgers', 70),
 ('Asian', 70),
 ('Tapas/SmallPlates', 67),
 ('Sushi', 64),
 ('FastFoodRestaurants', 64),
 ('Mexican/Southwestern', 59),
 ('Fusion/Eclectic', 58),
 ('FamilyStyleRestaurants', 58),
 ('ContemporaryMexican', 52),
 ('SeafoodRestaurants', 49),
 ('Vegetarian', 48),
 ('Global', 48),
 ('NewAmerican', 48),
 ('Barbecue', 48),
 ('Spanish', 46),
 ('Organic', 46),
 ('SushiBars', 42),
 ('ItalianRestaurants', 39),
 ('BarbecueRestaurants', 38),
 ('Vegetarian/Vegan', 38),
 ('WineBar', 37),
 ('French', 36),
 ('Hamburgers', 34),
 ('Latin/Spanish', 33),
 ('Southwest', 32),
 ('Southern', 31),
 ('Cafe', 30),
 ('Taverns', 28),
 ('Irish', 28),
 ('Delicatessens', 28),
 ('Vegan', 27),
 ('Northwest', 24),
 ('JapaneseRestaurants', 24),
 ('Tex-Mex', 24),
 ('Continental', 24),
 ('SteakHouses', 23),
 ('MediterraneanRestaurants', 23),
 ('Cafeterias', 23),
 ('Latin', 22),
 ('Deli', 22),
 ('Pizzeria', 22),
 ('TraditionalMexican', 20),
 ('Greek', 19),
 ('Southwestern', 19),
 ('SouthAmerican', 19),
 ('NightClubs', 18),
 ('SandwichShops', 18),
 ('Diner', 18),
 ('CocktailLounges', 18),
 ('Soups', 18),
 ('FastFood', 18),
 ('Caribbean', 17),
 ('Chinese', 17),
 ('Brewery', 17),
 ('SportsBars', 16),
 ('Bistro', 15),
 ('FrenchAmerican', 15),
 ('HealthFood', 15),
 ('Thai', 14),
 ('RegionalMexican', 14),
 ('AsianRestaurants', 14),
 ('Korean', 14),
 ('BrewPubs', 13),
 ('Pan-Asian', 13),
 ('Bakeries', 12),
 ('VegetarianFriendly', 12),
 ('American(Traditional)', 12),
 ('Pub', 12),
 ('Sandwiches', 11),
 ('ChineseRestaurants', 11),
 ('VegetarianRestaurants', 11),
 ('American(New)', 11),
 ('Chicken', 11),
 ('ContemporaryFrench/American', 11),
 ('Delicatessen', 11),
 ('Bar', 10),
 ('Creole/Cajun/Southern', 10),
 ('Bagels', 9),
 ('Indian', 9),
 ('European', 9),
 ('Cuban', 9),
 ('ContemporaryAsian', 8),
 ('GlutenFreeOptions', 8),
 ('Hawaiian', 8),
 ('Dessert', 7),
 ('HawaiiRegionalCuisine', 7),
 ('Peruvian', 7),
 ('ContemporarySouthern', 7),
 ('English', 7),
 ('Hotels', 6),
 ('CoffeeShop', 6),
 ('ContemporaryFrench', 6),
 ('PrimeRib', 6),
 ('Salads', 6),
 ('ChickenRestaurants', 6),
 ('GreekRestaurants', 6),
 ('Wings', 6),
 ('HotDogs', 6),
 ('BreakfastandBrunch', 5),
 ('MiddleEastern', 5),
 ('FrenchRestaurants', 5),
 ('Cajun', 5),
 ('Breakfast', 5),
 ('BarFood', 5),
 ('ContemporaryItalian', 5),
 ('VietnameseRestaurants', 5),
 ('WildGame', 4),
 ('SpanishRestaurants', 4),
 ('Contemporary', 4),
 ('FineDiningRestaurants', 4),
 ('Fusion', 4),
 ('MexicanDescription', 4),
 ('ContemporaryEuropean', 4),
 ('ContinentalRestaurants', 4),
 ('BuffetRestaurants', 4),
 ('Healthy', 4),
 ('ThaiRestaurants', 4),
 ('Soulfood', 4),
 ('Brazilian', 4),
 ('HealthFoodRestaurants', 4),
 ('Gastropub', 4),
 ('BeerGarden', 4),
 ('Tapas', 3),
 ('Delis', 3),
 ('Colombian', 3),
 ('VeganOptions', 3),
 ('Kosher', 3),
 ('PoolHalls', 3),
 ('Grocers-EthnicFoods', 3),
 ('AsianFusion', 3),
 ('ContemporaryIndian', 3),
 ('Creole', 3),
 ('British', 3),
 ('OysterBar', 3),
 ('DonutShops', 3),
 ('MiddleEasternRestaurants', 3),
 ('Bakery', 3),
 ('Cheesesteaks', 3),
 ('Desserts', 3),
 ('Wraps', 3),
 ('Burgers/HotDogs', 3),
 ('FrenchFries/OnionRings', 3),
 ('Calzones', 3),
 ('Hoagies/Grinders/Subs/Gyros', 3),
 ('WhitePizza', 3),
 ('Pasta', 3),
 ('IndianRestaurants', 3),
 ('IrishRestaurants', 3),
 ('ModernEuropean', 3),
 ('Burmese', 2),
 ('Israeli', 2),
 ('DiningBar', 2),
 ('Belgian', 2),
 ('Fish', 2),
 ('EasternEuropean', 2),
 ('PuertoRican', 2),
 ('SteakHouse', 2),
 ('Moroccan', 2),
 ('Motels', 2),
 ('Portuguese', 2),
 ('FamilyStyle', 2),
 ('CentralAmerican', 2),
 ('Grill', 2),
 ('RestaurantDeliveryService', 2),
 ('SouthAfrican', 2),
 ('Coffeehouse', 2),
 ('PizzaByTheSlice', 2),
 ('NewYorkStylePizza', 2),
 ('Stromboli', 2),
 ('CubanRestaurants', 2),
 ('MexicanCuisine', 2),
 ('CaribbeanRestaurants', 2),
 ('Filipino', 2),
 ('Vietnamese', 2),
 ('Australian', 2),
 ('Casinos', 1),
 ('CoffeeandTea', 1),
 ('Indonesian', 1),
 ('SmallPlates', 1),
 ('Afghan', 1),
 ('NativeAmerican', 1),
 ('SandwichesCuisine', 1),
 ('FamilyStyleCuisine', 1),
 ('AmericanCuisine', 1),
 ('FoodDeliveryService', 1),
 ('Argentinean', 1),
 ('FamilyFare', 1),
 ('Ranches', 1),
 ('Coffee', 1),
 ('Smoothies', 1),
 ('Tea', 1),
 ('FoodProducts', 1),
 ('FriedChicken', 1),
 ('Specialties', 1),
 ('Traditional', 1),
 ('Cheesesteak', 1),
 ('Yogurt', 1),
 ('Steakhouses', 1),
 ('Buffet', 1),
 ('Persian', 1),
 ('BrazilianSteakhouse', 1),
 ('Canadian', 1),
 ('Asian/Pacific', 1),
 ('TeaDescription', 1),
 ('PartyTrays', 1),
 ('HomemadeDough', 1),
 ('HomemadePasta', 1),
 ('Antipasta', 1),
 ('FullDelicatessen', 1),
 ('WholeWheatCrust', 1),
 ('SicilianPizza', 1),
 ('TomatoPie', 1),
 ('NeapolitanStylePizza', 1),
 ('ItalianDishes', 1),
 ('VegetarianToppings', 1),
 ('BrickOvenPizza', 1),
 ('StoneBakedPizza', 1),
 ('DeepSkillet/PanPizza', 1),
 ('SeafoodDishes', 1),
 ('Juices', 1),
 ('VeganRestaurants', 1),
 ('Resorts', 1),
 ('Homecooking', 1),
 ('German', 1),
 ('Karaoke', 1),
 ('Polynesian', 1),
 ('Lebanese', 1),
 ('Russian', 1),
 ('Jamaican', 1),
 ('KosherRestaurants', 1),
 ('Vegetarian-Friendly', 1),
 ('Lounge', 1),
 ('French/Canadian', 1),
 ('Breakfast/Brunch', 1),
 ('Swedish', 1),
 ('AfternoonTea', 1),
 ('Fries', 1),
 ('Shakes', 1),
 ('Eclectic', 1),
 ('BurgersDescription', 1),
 ('Salvadoran', 1),
 ('Fondue', 1),
 ('Countrykitchen', 1),
 ('Sandwiches/Subs', 1),
 ('MexicanGoods', 1),
 ('Hibachi', 1),
 ('LowCountry', 1),
 ('ItalianGroceryStores', 1),
 ('SoulFood', 1),
 ('salate', 1),
 ('burritos', 1),
 ('quesadillas', 1),
 ('salsa', 1),
 ('beilagen', 1),
 ('extras', 1),
 ('ConvenienceStores', 1),
 ('PacificRim', 1),
 ('MeatMarkets', 1),
 ('HotChicken', 1),
 ('Provencal', 1),
 ('GolfCourses', 1),
 ('FishingPiers', 1),
 ('Lodging', 1),
 ('Donuts', 1),
 ('Noodle', 1),
 ('Pretzels', 1),
 ('Regiomontana', 1),
 ('French(Bistro)', 1),
 ('SouthernAmerican', 1),
 ('WholesaleMeat', 1),
 ('GourmetShops', 1),
 ('Farm-to-table', 1),
 ('GlutenFree', 1),
 ('SmallPlates/Tapas', 1),
 ('Cocktails', 1),
 ('French/Japanese', 1),
 ('SocialServiceOrganizations', 1),
 ('Bowling', 1),
 ('Beverages', 1),
 ('Asianfusion', 1),
 ('HawaiianRestaurants', 1)]

**Or**

In [223]:
# As before
results = pl_df.flatMap(split_delimiters)

In [224]:
# Use function countByValue() which returns a dictionary
results = results.countByValue()

In [213]:
# Sort dictionary (reverse) and show top 10

sorted(results, key=results.get, reverse=True)[0:10]

['American',
 'Mexican',
 'ContemporaryAmerican',
 'MexicanRestaurants',
 'Seafood',
 'TakeOutRestaurants',
 'AmericanRestaurants',
 'Pizza',
 'Restaurants',
 'LatinAmericanRestaurants']

In [225]:
# Finally, print keys and values

top10 = sorted(results, key=results.get, reverse=True)[0:10]

for value in top10:
    print(value, ":", results[value])

American : 1071
Mexican : 819
ContemporaryAmerican : 422
MexicanRestaurants : 388
Seafood : 360
TakeOutRestaurants : 351
AmericanRestaurants : 292
Pizza : 251
Restaurants : 245
LatinAmericanRestaurants : 216